.app {
    background-image: url(blob-scene.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 650px) {
    .app {
        background-image: url(blob-scene-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menu-button{
        display: flex;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-button{
    display: none;
}

.header-navbar {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;

}

.header-navbar .menu-button i {
    display: none;
}

.header-nav-logo {
    height: 6.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    margin-left: 10%;
    font-size: 1.6rem;
    font-weight: 500;
    user-select: none;
}


.header-nav-logo .first-logo {
    color: #ff3e3e;

}

.header-nav-link {
    width: 25%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}

.header-nav-link a {
    width: 20%;
    height: 2rem;
    font-size: 0.9rem;
    color: #1c232c;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.header-nav-link a:hover {
    color: #ff3e3e;
    transition: 0.5s;
}

.header-nav-log {
    height: 6.5rem;
    width: 28rem;
    margin-left: 15%;
    margin-right: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-log .sign-button {
    width: 12rem;
    height: 3rem;
    background-color: #ff3e3e;
    color: #fff;
    border-radius: 3rem;
    outline: none;
    border: none;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
}

.header-nav-log .login-button {
    width: 12rem;
    height: 3rem;
    background-color: #1c232c;
    border: none;
    color: #fff;
    border-radius: 3rem;
    outline: none;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
}


@media only screen and (min-width: 925px) and (max-width: 1045px) {
    .header-nav-link {
        width: 35%;
    }

}

@media only screen and (max-width: 925px) {

    .header-nav-link {
        display: none;
    }

    .header-nav-log {
        display: none;
    }

    .header-navbar .menu-button i {
        display: flex;
        height: 13vh;
        width: 6rem;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;


    }

    .header-navbar .menu-button {
        margin-right: 8%;
        background-color: rgb(97, 56, 56, 0);
        outline: none;
        border: none;
        display: flex;
    }

    .header-navbar {
        width: 100%;
        height: 13vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .header-nav-logo {
        margin-left: 0;
        margin-left: 2%;
    }

}

.menu-open {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    animation: ornek-animasyon;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.menu-open .close-button{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 17%;
    font-size: 1.5rem;
    color: #1c232c;
}

.menu-open .header-nav-close-link{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.menu-open .header-nav-close-link a{
    text-decoration: none;
    color: #1c232c;
    font-family: 'Lexend', sans-serif;

}

.menu-open .header-nav-close-link a:hover{
    color: #ff3e3e;
}

.menu-open .header-nav-close-log{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.menu-open .header-nav-close-log .sign-button{
    width: 70%;
    height: 3rem;
    background-color: #ff3e3e;
    border: none;
    color: #fff;
    border-radius: 3rem;
    outline: none;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;

}

.menu-open .header-nav-close-log .login-button{
    width: 70%;
    height: 3rem;
    background-color: #1c232c;
    border: none;
    color: #fff;
    border-radius: 3rem;
    outline: none;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;

}

@keyframes ornek-animasyon {
    from {left: -100%;}
    to {left: 0;}
}
