.app {
    background-image: url(blob-scene.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 650px) {
    .app {
        background-image: url(blob-scene-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

