
.makalediv{
    width: 100%;
    height: auto;
}

.makalediv .content-bas{
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;
}

.makalediv .content-icer{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas2{
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;

}

.makalediv .content-icer2{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.imgmakale{
    height: 20rem;
    width: 60%;
    background-image: url(undraw.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    margin-left: 5%;

}

.imgmakale2{
    height: 30rem;
    width: 60%;
    background-image: url(undraw2.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    margin-left: 5%;

}

.makalediv .content-bas3{
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;

}

.makalediv .content-icer3{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas4{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 4rem;
    margin-left: 10%;
    color: #ff3e3e;

}

.makalediv .content-icer4{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas5{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 4rem;
    margin-left: 10%;
    color: #ff3e3e;

}

.makalediv .content-icer5{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas6{
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;

}

.makalediv .content-icer6{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas7{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color: #ff3e3e;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;

}

.makalediv .content-icer7{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas8{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;
    color: #ff3e3e;

}

.makalediv .content-icer8{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas9{
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;

}

.makalediv .content-icer9{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.makalediv .content-bas10{
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: 7rem;
    margin-left: 10%;
    color: #ff3e3e;

}

.makalediv .content-icer10{
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin-left: 10%;
    line-height: 23px;
    color: #1c232c;

}

.bosbos{
    width: 100%;
    height: 15rem;
}
